@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<p>Lo sentimos, ha ocurrido un error inesperado.</p>
<p>Por favor, inténtalo de nuevo más tarde.</p>

@if (Model != null)
{
    <p>Detalles: @Model.Exception.Message</p>
    <p>
        @Model.Exception.StackTrace
    </p>
    if (Model.Exception.InnerException != null)
    {
        <p>Inner: @Model.Exception.InnerException.Message</p>
    }
}