@using Microsoft.AspNet.Identity
@using ControlRutas.Data
@using ControlRutas.DTO
@using ControlRutas.Helpers
@{
    ViewBag.Title = "Inicio";
    var usuarioid = User.Identity.GetUserId();
    ControlRutasEntities db = new ControlRutasEntities();
    var usuario = db.Usuarios.Where(u => u.GUID == usuarioid).FirstOrDefault();
    UsuarioOB usuarioOB = null;
    if (Request.IsAuthenticated)
    {
        usuarioOB = UsuarioActual.ObtenerUsuario(Request.GetOwinContext().Authentication.User.Identity.GetUserId());
    }
}

@if (usuario!= null)
{

    <main>
        <section>
            <h2>¡Bienvenido! @usuario.PrimerNombre @usuario.PrimerApellido</h2>

            <div class="row mt-2">
                <div class="col-3">
                    <div>
                        @if (usuario.UsuariosEstablecimientos.FirstOrDefault()?.EstablecimientosEducativos?.Foto!= null)
                        {
                            <img src="data:image/png;base64,@usuario.UsuariosEstablecimientos.FirstOrDefault().EstablecimientosEducativos.Foto" alt="Imagen del establecimiento" />
                        }
                        else
                        {
                            <p></p>
                        }
                    </div>
                </div>
                <div class="col-9">
                    <div class="row mb-2">
                        @if (usuarioOB is UsuarioAdmin || usuarioOB is UsuarioAdminEstablecimiento)
                        {
                            <div class="col">
                                <a href="/Usuarios">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-users"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /><path d="M21 21v-2a4 4 0 0 0 -3 -3.85" /></svg>
                                    <h3>
                                        Usuarios
                                    </h3>
                                </a>
                            </div>
                        }
                        @if (usuarioOB is UsuarioAdminEstablecimiento || usuarioOB is UsuarioPadre)
                        {
                            <div class="col">
                                <a href="/Estudiantes">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-school"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" /><path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" /></svg>
                                    <h3>
                                        Estudiantes
                                    </h3>
                                </a>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-link" id="btnInasistencia" data-bs-toggle="modal" data-bs-target="#modalInasistencia">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-school-off"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M22 9l-10 -4l-2.136 .854m-2.864 1.146l-5 2l10 4l.697 -.279m2.878 -1.151l6.425 -2.57v6" /><path d="M6 10.6v5.4c0 1.657 2.686 3 6 3c2.334 0 4.357 -.666 5.35 -1.64m.65 -3.36v-3.4" /><path d="M3 3l18 18" /></svg>
                                    <h3>
                                        Inasistencia
                                    </h3>
                                </button>
                            </div>
                        }
                        @if (usuarioOB is UsuarioAdminEstablecimiento || usuarioOB is UsuarioDueñoBuses || usuarioOB is UsuarioPiloto)
                        {
                            <div class="col">
                                <a href="/MediosTransportes">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bus"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M18 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 17h-2v-11a1 1 0 0 1 1 -1h14a5 7 0 0 1 5 7v5h-2m-4 0h-8" /><path d="M16 5l1.5 7l4.5 0" /><path d="M2 10l15 0" /><path d="M7 5l0 5" /><path d="M12 5l0 5" /></svg>
                                    <h3>
                                        Medios de transporte
                                    </h3>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="modal fade" id="modalInasistencia" tabindex="-1" aria-labelledby="modalInasistenciaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInasistenciaLabel">Inasistencia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="selectEstudiantes" class="form-select">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnGuardar" class="btn btn-primary">Hacer Inasistencia</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <main>
        @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
    </main>
}

<script>
    $(document).ready(function () {
        var listaEstudiantes;

        // Evento para abrir el modal y cargar los estudiantes
        $('#btnInasistencia').click(function () {
            $.ajax({
                url: '/Estudiantes/GetEstudiantes?guidUsuario=' + '@usuario.GUID',
                type: 'GET',
                success: function (data) {
                    listaEstudiantes = data.data;
                    console.log(data);

                    // Limpiar el select antes de llenarlo
                    $('#selectEstudiantes').empty();

                    // Llenar el select con los estudiantes
                    listaEstudiantes.forEach(estudiante => {
                        $('#selectEstudiantes').append(
                            `<option value="${estudiante.GUID}">${estudiante.NombreCompleto}</option>`
                        );
                    });

                    $('#selectEstudiantes').select2({
                        placeholder: 'Selecciona un estudiante',
                        theme: 'bootstrap-5',
                        width: '100%',
                        dropdownParent: $('#modalInasistencia') // Asegura que el dropdown se muestre dentro del modal
                    });

                },
                error: function (xhr, status, error) {
                    console.error('Error al obtener los estudiantes:', error);
                    alert('No se pudieron obtener los estudiantes. Inténtalo de nuevo.');
                }
            });
        });

        // Evento para el botón "Guardar"
        $('#btnGuardar').click(function () {
            const estudianteGUID = $('#selectEstudiantes').val();
            if (!estudianteGUID) {
                alert('Selecciona un estudiante.');
                return;
            }

            // Redireccionar a la URL de inasistencia con el GUID del estudiante seleccionado
            window.location.href = '/Estudiantes/Inasistencia/' + estudianteGUID;
        });
    });
</script>